@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(20);
}

@keyframes typing {
   from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: #474747 }
}

body {
  cursor: url("/src/assets/cursor.png") 0 0, auto;
}



a, button, .clickable {
  cursor: url("/src/assets/cursor-pointer.png") 0 0, auto;
}

